body {
  padding: 0;
  margin: 0;
}

.body1 {
  height: 40vh;
  width: 100%;
  background-color: #1f2937;
  display: flex;
}

.body2 {
  height: 50vh;
  width: 100%;
  background-color: white;
}

.header-title {
  height: 10vh;
  width: 100%;
  background-color: cyan;
}

.header-text {
  height: 100%;
  width: 50%;
  background-color: rgb(178, 111, 29);
}

.header-image {
  height: 100%;
  width: 50%;
  background-color: rgb(169, 39, 171);
}
